<div class="container-small container-padding">
  <span style="margin-bottom: 10px; display: block">Bitte melde dich mit deinem Account an.</span>
  <form [formGroup]="loginForm" class="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Benutzername" formControlName="username"
             [errorStateMatcher]="matcher">
      <mat-error
        *ngIf="loginForm.get('username').hasError('required')">
        Username ist erforderlich
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Passwort" formControlName="password"
             [errorStateMatcher]="matcher">
      <mat-icon class="cursor" (click)="hidePassword = !hidePassword" matSuffix>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Passwort ist erforderlich
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Anmelden</button>
  </form>
  <span style="margin-top: 20px; display: block;"><small><a style="cursor: pointer" (click)="onRegister()">Du hast noch keinen Account? Dann registeire dich hier!</a></small></span>
</div>
