<div class="container-small container-padding">
  <div class="container-flex">
    <div class="container-flex-element-full" (click)="onSelect('sith')">
      <div class="background-container box mat-elevation-z2 background-sith" matRipple>
        <span style="font-size:120%;">Sith</span><br/>
        Kämpfe für die dunkle Seite!
      </div>
    </div>
    <div class="container-flex-element-full" (click)="onSelect('jedi')">
      <div class="background-container box mat-elevation-z2 background-jedi" matRipple>
        <span style="font-size:120%;">Jedi</span><br/>
        Suche das Gut in Dir!
      </div>
    </div>
  </div>
</div>
