<h2>Registrieren</h2>
<span>Füllen Sie die folgenden Details aus, um sich zu registrieren.</span>
<form [formGroup]="registerForm" class="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Email*" formControlName="email"
           [errorStateMatcher]="matcher">
    <mat-icon matSuffix>email</mat-icon>
    <mat-error
      *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
      Bitte geben Sie eine gültige E-Mail-Adresse ein
    </mat-error>
    <mat-error
      *ngIf="registerForm.get('password').hasError('required') && !registerForm.get('email').hasError('email')">
      Email ist erforderlich
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Benutzername" formControlName="username"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="registerForm.get('username').hasError('required')">
      Benutzername ist erforderlich
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password"
           [errorStateMatcher]="matcher">
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error *ngIf="registerForm.get('password').hasError('required')">
      Passwort ist erforderlich
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Confirm Password" formControlName="passwordConfirm"
           [errorStateMatcher]="matcherPassword">
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
      Bitte bestätigen Sie Ihr Passwort
    </mat-error>
    <mat-error *ngIf="registerForm.hasError('notSame') && !registerForm.get('passwordConfirm').hasError('required')">
      Passwörter stimmen nicht überein
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
</form>
<span><a routerLink="/login">Sie können sich auch hier anmelden, falls Sie bereits einen Benutzeraccount haben</a></span>
