<div class="container-small container-padding">
  <span style="margin-bottom: 10px; display: block">Bitte fülle die Daten aus um dich zu registrieren</span>
  <form [formGroup]="registerForm" class="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Benutzername" formControlName="username"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="registerForm.get('username').hasError('required')">
        Benutzername ist erforderlich
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Passwort" formControlName="password"
             [errorStateMatcher]="matcher">
      <mat-icon class="cursor" (click)="hidePassword = !hidePassword" matSuffix>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="registerForm.get('password').hasError('required')">
        Passwort ist erforderlich
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hidePasswordConfirm ? 'password' : 'text'" placeholder="Passwort bestätigen" formControlName="passwordConfirm"
             [errorStateMatcher]="matcherPassword">
      <mat-icon class="cursor" (click)="hidePasswordConfirm = !hidePasswordConfirm" matSuffix>{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
        Bitte bestätigen Sie Ihr Passwort
      </mat-error>
      <mat-error *ngIf="registerForm.hasError('notSame') && !registerForm.get('passwordConfirm').hasError('required')">
        Passwörter stimmen nicht überein
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Registrieren</button>
  </form>
  <span style="margin-top: 20px; display: block;"><small><a style="cursor: pointer" (click)="onLogin()">Hast du einen Account? Dann hier lang!</a></small></span>
</div>
