<div class="chat_list"
     [class.active_chat]="contact.isActive">
  <div class="chat_people">
    <div class="chat_img">
      <img
        style="border-radius: 50%;"
        *ngIf="contact.image" src="{{ contact.image }}" alt="{{ contact.firstName + ' ' + contact.lastName }}">
    </div>
    <div class="chat_ib">
      <h5>{{ contact.firstName + ' ' + contact.lastName }}
        <span
          class="chat_date"
          *ngIf="getLastMessage()">{{ getLastMessage().date | date:'HH:mm' }}</span>
      </h5>
      <p *ngIf="getLastMessage()"
         [matBadge]="getNotification(contact.display)"
         matBadgePosition="above before"
         matBadgeColor="warn"
         matBadgeOverlap="true">{{ getLastMessage().text }}</p>
    </div>
  </div>
</div>
