<div class="chat_list"><!--
     [class.active_chat]="chat.isActive"-->
  <div class="chat_people">
    <div class="chat_img">
      <img
        style="border-radius: 50%;"
        *ngIf="chat.contact.firstName" src="assets/images/profile-icon/{{ chat.contact.firstName }}.png" alt="{{ chat.contact.firstName }}">
    </div>
    <div class="chat_ib">
      <h5>{{ chat.contact.firstName }} {{ chat.contact.lastName }}
        <span
          class="chat_date"
          *ngIf="getLastMessage()">{{ getLastMessage().date | date:'HH:mm' }}</span>
      </h5>
      <p *ngIf="getLastMessage()"
         [matBadge]="getNotification(chat.chatId)"
         matBadgePosition="above before"
         matBadgeColor="warn"
         matBadgeOverlap="true">{{ getLastMessage().text }}</p>
    </div>
  </div>
</div>
