<div class="container">
  <!-- Our Message -->
  <div
    *ngIf="message.author === null && message.text !== ''"
    class="outgoing_msg">
    <div class="sent_msg">
      <p style="white-space: pre-wrap;">{{ message.text }}</p>
      <span class="time_date">{{ message.date | date:'HH:mm' }}</span></div>
  </div>

  <!-- Message from the other person -->
  <div
    *ngIf="message.author && message.author.firstName !== ''"
    class="incoming_msg">
    <div class="incoming_msg_img">
      <img *ngIf="user.image" style="border-radius: 50%;" src="assets/images/profile-icon/{{ user.display.replace(' ', '') }}.png" alt="{{ user.display }}"></div>
    <div class="received_msg">
      <div class="received_withd_msg">
        <p style="white-space: pre-wrap;">{{ message.text }}</p>
        <span class="time_date">{{ message.date | date:'HH:mm' }}</span></div>
    </div>
  </div>
</div>
