<div class="mesgs" *ngIf="contact">
  <div class="msg_history vh-correct vh-flex">
    <div style="overflow-x: hidden; overflow-y: auto; margin-bottom: 10px; margin-top: 10px; flex-grow: 1000" #scroll>
      <app-chat-message *ngFor="let message of contact.messages" [message]="message" [user]="{ display: contact.firstName + ' ' + contact.lastName, image: contact.image } "></app-chat-message>

      <app-chat-loading *ngIf="isLoading"></app-chat-loading>
    </div>

    <app-chat-input [display]="contact.display"></app-chat-input>
  </div>
</div>
