.container-small {
  max-width: 780px;
  margin: auto;
  overflow-y: auto;
}

.container-padding {
  padding: 10px;
}

.container {
  max-width: 1170px;
  margin: auto;
  overflow-y: auto;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-padding .container-flex-element-full {
  margin-bottom: 10px;
}

.container-flex-element {
  padding-top: 300px;
  width: calc( 50% - 10px );
  position: relative;
  margin: 5px;
}

.container-flex-element-full {
  padding-top: 300px; /* calc( 30vh - 57px ) */
  width: calc( 100% - 10px );
  position: relative;
  margin: 5px;
}

.container-flex-element .box, .container-flex-element-full .box {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  text-align: center;
  color: #ffd54e;
  text-shadow: 4px 4px #000000;
  font-size: 32px;
  font-weight: bold;
  padding: 100px 60px;
}

mat-form-field {
  width: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: none;
}


img {
  max-width: 100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}


.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  max-height: 100px;
  min-height: 80px;
}

.chat_list img {
  max-height: 71px;
}

.inbox_chat {
  overflow-y: auto;
  overflow-x: hidden;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg .time_date {
  text-align: right;
}

.time_date {
  color: white;  /*#747474;*/
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 75%;
}

.mesgs {
}

.sent_msg p {
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
  background-color: #c85533;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: 75%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  width: 100%;
}

.input_msg_write {
  align-items: center;
  white-space: nowrap;
  min-height: 64px;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  bottom: 0px;
  background-color: white;
  min-height: 64px;
  padding: 0 16px;
}

.msg_send_btn {
  margin: 17px;
  display: block;
  position: sticky;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  overflow-x: hidden;
  overflow-y: hidden;
}

mat-toolbar {
  border-radius: 2px 2px 0px 0px;
}

.vh-correct {
  height: calc( 100vh - 64px ); /* iphone 8 667 */
}

.vh-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.vh-flex-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.background-container {
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-trooper {
  background-image: url('assets/images/background/background-trooper.jpg');
}

.background-deathstar {
  background-image: url('assets/images/background/background-deathstar.jpg');
}

.background-goodbad {
  background-image: url('assets/images/background/background-goodbad.jpg');
}

.background-atat {
  background-image: url('assets/images/background/backgorund-atat.jpg');
}

.background-planet {
  background-image: url('assets/images/background/background-planet.jpg');
}

.background-atat-2 {
  background-image: url('assets/images/background/background-atat-2.jpg');
}

.background-chat {
  background-image: url('assets/images/background/background-chat.jpg');
}
